<html>
    <body>
        <form method="post" action="/predict">
            <input type="text" name="name" placeholder="first name" required="required">
            <input type="text" name="Sname" placeholder="Second name" required="required">
            <input type="email" name="mail" placeholder="Email" required="required">
            <input type="number" name="phone_number" placeholder="Phone number" required="required">
            <input type="text" name="description" placeholder="Description" required="required">
            <button>submit</button>
        </form>
    </body>
</html>